/* Universal styles  */
* {
    margin: 0;
    padding: 0;
}

/* common styles  */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-button {
    font-weight: 700;
    color: #ffffffFF;
    background-color: #1d4ed8FF;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
}

/* navigation bar styles start  */
header nav {
    display: flex;
    margin: 23px auto;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    font-weight: 400;
    color: #575757FF;
}

.nav-menu-items a {
    text-decoration: none;
}

/* navigation style end  */
.hero-banner {
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner h2 {
    margin-top: 136px;
    font-size: 80px;
    font-weight: 700;
}

.hero-banner p {
    max-width: 829px;
    margin-top: 16px;
    margin-bottom: 278px;
    font-size: 22px;
}

.hero-banner .common-button {
    font-size: 24px;
    margin-bottom: 79px;
}

/* meet-the-speaker-parent style start  */

.meet-the-speaker-parent {
    margin-top: 80px;
}

.meet-the-speaker-parent>h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 56px;
}

.meet-the-speaker-card-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}


.meet-the-speaker-card {
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;

}

.meet-the-speaker-card img {
    width: 100%;
}

.meet-the-speaker-card .subject {
    margin-top: 12px;
    font-size: 12px;
    color: #2563ebFF;
    font-weight: 600;
}

.meet-the-speaker-card h2 {
    font-size: 20px;
    font-weight: 700;
}

.meet-the-speaker-card .profession {
    font-size: 14px;
    font-weight: 400;
    color: #575757FF;
    margin-bottom: 24px;
}

.meet-the-speaker-card p,
h2 {
    padding-left: 24px;
}

/* meet the speker style end  */