/* Universal styles  */
* {
    margin: 0;
    padding: 0;
}

/* common styles  */
.common-button {
    font-weight: 700;
    color: #ffffffFF;
    background-color: #1d4ed8FF;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
}

/* navigation bar styles start  */
header nav {
    display: flex;
    max-width: 1200px;
    margin: 23px auto;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    font-weight: 400;
    color: #575757FF;
}

.nav-menu-items a {
    text-decoration: none;
}